---
layout: default

---

<div class="parallax"> 
        <div id="group1" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
               <div class="title">We Make Quality Prints</div>
          </div>
        </div>

        <div id="group2" class="parallax__group">

            <div class="parallax__layer parallax__layer--base">

              <div class="title2">Our Services</div>

              <div class="main-box da-all">  
 
                    <div class="box1 da4-da5"> 
                          <img src='{{site.url}}assets/image2.png' width="50" height="50">
                          <div class="title-box"> Color Correction </div>
                    </div>  

                    <div class="box2 da6-da7"> 
                          <img src='{{site.url}}assets/image2.png' width="50" height="50">
                          <div class="title-box"> Single Images </div>
                    </div>

                    <div class="box3 da8-da9"> 
                          <img src='{{site.url}}assets/image2.png' width="50" height="50">
                          <div class="title-box"> Portfolio </div>
                    </div> 
                 
               </div>  

            </div>
        </div>
 <!--  <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div> 
    </div>  
        <div id="group3" class="parallax__group">
             <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>

         <div class="parallax__layer parallax__layer--base">
             <div class="title">Services</div>
      </div>
    </div>  -->
        <div id="group4" class="parallax__group">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">About</div>
            </div>   
        </div>
 <!--    <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
       <div class="parallax__layer parallax__layer--deep">
        <div class="title">Deep Background Layer</div>
      </div>
    </div>  -->
         <div id="group5" class="parallax__group">
  <!--    <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>   -->
            <div class="parallax__layer parallax__layer--base">
               <div class="title">Contact</div>
            </div>
         </div>

        <div id="group6" class="parallax__group">
  <!--      <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
      </div>  -->
             <div class="parallax__layer parallax__layer--base">
                <div class="title">Abouts</div>
            </div>   
        </div>

        <div id="group7" class="parallax__group">
          <div class="parallax__layer parallax__layer--base">
            <div class="title da-all">Let's Work Together</div>



           
            <div class="message-blurb da2-da6">
                <p> Get in touch with us to get started on your project, get quotes,
                  or have any questions about printing. We'd love to hear from you!
                </p>
             </div>
      
            <div class="message-form da2-da6">
                 <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name">
                 </div>

                 <div class="form-group">
                      <input type="text" class="form-control"  placeholder="Email">
                 </div>

                   <div class="form-group">
                      <input id="input_message" class="form-control" placeholder="Message">
                  </div>

                  <div class="form-group">
                      <button class="btn">Send Request</button>
                  </div>       
            </div>


<div class="location-icon da8-da9"> 
           <img src='{{site.url}}assets/location.svg' height="150px" width="150px" />
 </div>

<div class="location-blurb da10-da11">
 <p> Lincoln Square <br>
     Chicago,IL
 </p>
</div>  

<div class="email-icon da8-da9"> 
     <img src='{{site.url}}assets/email2.png' height="150px" width="150px" />
     
</div>

<div class="email-blurb da10-da11">
  <p>info@isaiahjay.com</p>
</div>  
         
<div class="phone-icon da8">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="75px" height="75px" style="fill:white; stroke:black" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
<g>
  <path d="M66.937,6.331c-0.546-0.745-1.421-1.235-2.415-1.235h-9.778c-0.885,0-1.672,0.39-2.221,1H35.475   c-7.02,0-12.73,5.711-12.73,12.73v63.347c0,7.02,5.711,12.73,12.73,12.73h29.06c7.014,0,12.72-5.711,12.72-12.73V18.826   C77.255,12.629,72.806,7.459,66.937,6.331z M71.255,82.174c0,3.711-3.015,6.73-6.72,6.73h-29.06c-3.711,0-6.73-3.02-6.73-6.73   V18.826c0-3.711,3.019-6.73,6.73-6.73h29.06c3.706,0,6.72,3.019,6.72,6.73V82.174z"/>
  <path d="M65.183,65.587H34.817c-1.657,0-3,1.343-3,3s1.343,3,3,3h30.366c1.657,0,3-1.343,3-3S66.84,65.587,65.183,65.587z"/>
  <path d="M50,76.223c-2.692,0-4.882,2.19-4.882,4.882s2.19,4.882,4.882,4.882s4.882-2.19,4.882-4.882S52.692,76.223,50,76.223z    M50,82.223c-0.617,0-1.118-0.502-1.118-1.118s0.501-1.118,1.118-1.118s1.118,0.502,1.118,1.118S50.617,82.223,50,82.223z"/>
</g>
</svg>

</div>



                </div>  

          </div>
        </div>
</div>

     
         
 
     
              
         <!--       <aside>
                    <h3>ASIDE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
                </aside>
           {% for page in site.pages %}

            {% if page.tag == "show" %}

           <p><a href="{{site.url}}{{page.url}}">{{page.title}}</a></p> 

             {% else if page tag == "hidden" %}

             {% endif %}    

             {% endfor %} 


                    <section>
                   <h2> posts</h2>
                {% for post in site.posts %}


             <p> <a href="{{site.url}}{{post.url}}">{{post.title}}</a> </p>

                    </section> 

                        {% endfor %}       

             </article>   -->

 